@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap");
html {
  font-size: 10px;
}

body {
  background: #fbfaf5;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  color: #1c1c1c;
}

.navbar {
  max-width: 800px;
  width: 90%;
  overflow: hidden;
  position: relative;
  text-align: start;
  margin: 0 auto;
}

.logo {
  font-size: 4rem;
  margin-right: auto;
  padding-bottom: 0.3em;
}

.navbar .myLinks {
  display: none;
  font-size: 2rem;
  font-weight: 700;
}

.navbar a {
  color: #1c1c1c;
  padding: 0.5em 0;
  text-decoration: none;
  font-size: 2rem;
  display: block;
}

.navbar a.icon {
  position: absolute;
  right: 0;
  top: 0;
}

.navbar .myLinks a:hover {
  background-color: #17d7c1;
}

.container {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  margin-top: 5em;
  text-align: center;
  max-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4em;
}

.title {
  font-size: 4.8rem;
  font-weight: 300;
  margin: 0;
}

.title strong {
  font-size: 4.8rem;
  font-weight: 700;
}

.subtitle {
  font-size: 3rem;
  text-transform: uppercase;
  display: block;
  background-color: #17d7c1;
  width: 100%;
  letter-spacing: 5px;
}

.title-img {
  width: 80%;
  margin-top: 3em;
  -o-object-position: center top;
     object-position: center top;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-shadow: 2px 2px 12px 5px #1c1c1c;
          box-shadow: 2px 2px 12px 5px #1c1c1c;
}

.container-black {
  background-color: #1c1c1c;
  color: #fbfaf5;
  text-align: center;
  padding: 8em 2em;
}

.header {
  font-size: 6rem;
  font-weight: 700;
  position: relative;
  color: #17d7c1;
}

.header::after {
  display: block;
  width: 90px;
  border-bottom: 1px solid #fbfaf5;
  content: "";
  margin: 0 auto;
  margin-top: 0.5em;
}

.content {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subcontent {
  width: 80%;
  margin: 0 auto;
  margin-top: 3em;
}

.header-sub {
  font-size: 2rem;
}

.description {
  font-size: 1.5rem;
  line-height: 1.9;
  color: rgba(255, 255, 255, 0.6);
}

.btn-see-work {
  padding: 1em 4em;
  display: inline-block;
  margin: 0 auto;
  background-color: #17d7c1;
  font-weight: 700;
  color: #1c1c1c;
  font-size: 1.5rem;
  margin-top: 3em;
}

.container-who-i-am {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 800px;
  padding: 2em 0;
}

.header-black {
  font-size: 6rem;
  font-weight: 700;
  margin: 1em 0;
}

.desc-who-i-am {
  padding: 0.5em;
  font-size: 4rem;
  background-color: #17d7c1;
  margin-bottom: 1em;
  text-align: center;
}

.who-i-am-img {
  max-height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-who-i-am {
  font-size: 2rem;
  text-align: center;
  line-height: 1.9;
  color: rgba(0, 0, 0, 0.6);
}

.container-my-work {
  background-color: #1c1c1c;
  color: #fbfaf5;
  text-align: center;
  padding: 8em 2em 20em 2em;
  margin: 0 auto;
}

.header-my-work {
  font-size: 7rem;
  font-weight: 700;
  position: relative;
  color: #fbfaf5;
}

.desc-my-work {
  font-size: 3rem;
  font-weight: 700;
  color: #17d7c1;
  margin: 2em auto;
}

.image-container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 800px;
  justify-items: center;
  margin: 0 auto;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  -webkit-column-gap: 0;
          column-gap: 0;
}

.image-container img {
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.image-container img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 2px 2px 12px 5px #1c1c1c;
          box-shadow: 2px 2px 12px 5px #1c1c1c;
}

.footer {
  padding: 5em 0;
  background-color: black;
  color: #17d7c1;
  text-align: center;
}

.e-mail {
  font-size: 2rem;
  font-weight: 700;
}

.font-awesome-icons {
  margin-top: 2em;
  font-size: 3rem;
}

.font-awesome-icons i {
  margin: 0 0.5em;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.font-awesome-icons i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=index.css.map */